{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-4">
    <p><a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-link">{{ topic }}</a></p>

    <p>Add a new entry:</p>

    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="border p-4 rounded-3 bg-light shadow-sm">
        {% csrf_token %}
        <div class="mb-3">
            {% bootstrap_form form %}
        </div>
        <button type="submit" class="btn btn-primary">Add Entry</button>
    </form>
</div>
{% endblock content %}

