{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-4">
    <h2>Register</h2>
    
    <form method="post" action="{% url 'users:register' %}" class="border p-4 rounded-3 bg-light shadow-sm">
        {% csrf_token %}
        <div class="mb-3">
            {% bootstrap_form form %}
        </div>
        
        <button type="submit" class="btn btn-primary">Register</button>
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
</div>
{% endblock content %}

